
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add Categories </h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {{#if catSaveMsg}}
                <div class="alert alert-success mt-3 alert-dismissible fade  {{#if catSaveMsg}}show{{/if}}" role="alert">
                    {{catSaveMsg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
                {{#if catExistMsg}}
                <div class="alert alert-danger mt-3 alert-dismissible fade show d-inline-block w-50 {{#if catExistMsg}}show{{/if}}" role="alert">
                    {{catExistMsg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <form action="/admin/addCategory" method="post" id = "product_form" class="" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label for="categoryName" class="form-label">Category Name:</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="product_name"  required />
                            </div>
                            <div id="name-validation-message" class="text-danger"></div>
                            <div class="mb-4">
                                <label for="categoryImage" class="form-label">Category Image:</label>
                                <input type="file" placeholder="Type here" class="form-control-file" name="image"  accept="image/*" id="category_image"/>
                                <div id="image-validation-message" class="text-danger"></div>
                            </div>
                            <div  class="d-flex g-2">
                                <div class="m-2">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                                <div class="m-2">
                                    <a href="/admin/Category" type="button" id="backbutton" class="btn btn-primary">Back</a>
                                </div>
                                    
                            </div>
                        </form>
                    </div>
                </div> 
            </div> 
        </div> 
    </section> 
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, MobileBazaar .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

    

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    
    document.getElementById('product_form').addEventListener('submit', function(event) {
        const imageInput = document.getElementById('category_image');
        const imageErrorMessage = document.getElementById('image-validation-message');

        imageErrorMessage.textContent = '';

        if (!imageInput.files.length) {
            event.preventDefault();  
            imageErrorMessage.textContent = 'Please select a category image.';
        }
    });


    //back
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();


            Swal.fire({
                title: "Leave the page?",
                text: "The Data will not be saved",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/Category";

                }
            });


        });
    }
    )
    </script>