

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Account
                <span></span> Change Password
            </div>
        </div>
    </div>
    <section class="pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="row">
                       {{> profileHeader}}
                        <div class="col-md-9">
                            <div class="tab-content dashboard-content">


                            
                                <div class="tab-pane fade active show" id="account-detail" role="tabpanel"
                                    aria-labelledby="account-detail-tab">
                                     <div class="card">
                                        <div class="card-header">
                                            <h5>Change Password</h5>
                                        </div>
                                        <div class="card-body">


                                            <div class="mb-3">
                                                <label for="oldPassword" class="form-label">Old Password:</label>
                                                <input type="password" id="oldPass" class="form-control"
                                                    onkeyup="oldPassword()">
                                                <p class="text-danger" id="oldpass_err"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newPassword" class="form-label">New Password:</label>
                                                <input type="password" id="newPassword" class="form-control"
                                                    onkeyup="newPassword()">
                                                <p class="text-danger" id="newpass_err"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="confirmPassword" class="form-label">Confirm New
                                                    Password:</label>
                                                <input type="password" id="confirmPassword" class="form-control"
                                                    onkeyup="confirmPassword()">
                                                <p class="text-danger" id="confirmpass_err"></p>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="Check_all(event)">Change
                                                    Password</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}

    <script>
        const oldpass_err = document.getElementById("oldpass_err");
        const newpass_err = document.getElementById("newpass_err");
        const confirmpass_err = document.getElementById("confirmpass_err");

        function oldPassword() {
            const oldpassword = document.getElementById("oldPass").value;

            if (oldpassword.length < 8) {
                oldpass_err.innerHTML = "Password must be at least 8 characters long";
                oldpass_err.style.display = "block";
                return false;
            } else {
                oldpass_err.style.display = "none";
                oldpass_err.innerHTML = "";
                return true;
            }
        }

        function newPassword() {
            const newpassword = document.getElementById("newPassword").value;
            const oldpassword = document.getElementById("oldPass").value;

            if (newpassword.length < 8) {
                newpass_err.innerHTML = "Password must be at least 8 characters long";
                newpass_err.style.display = "block";
                return false;
            } else if (oldpassword === newpassword) {
                newpass_err.innerHTML = "New password must not be the same as the old one";
                newpass_err.style.display = "block";
                return false;
            } else {
                newpass_err.style.display = "none";
                newpass_err.innerHTML = "";
                return true;
            }
        }

        function confirmPassword() {
            const newpassword = document.getElementById("newPassword").value;
            const confirmpassword = document.getElementById("confirmPassword").value;

            if (newpassword !== confirmpassword) {
                confirmpass_err.innerHTML = "New Password & Confirm New Password must match";
                confirmpass_err.style.display = "block";
                return false;
            } else {
                confirmpass_err.style.display = "none";
                confirmpass_err.innerHTML = "";
                return true;
            }
        }

        document.getElementById("oldPass").addEventListener("keyup", oldPassword);
        document.getElementById("newPassword").addEventListener("keyup", newPassword);
        document.getElementById("confirmPassword").addEventListener("keyup", confirmPassword);


        function Check_all() {
            const oldpassword = document.getElementById("oldPass").value;
            const newpassword = document.getElementById("newPassword").value;
            if (!oldPassword() || !newPassword() || !confirmPassword()) {
                e.preventDefault()
                return false;

            } else {
                $.ajax({

                    url: `/updatePassword`,
                    method: 'post',
                    data: {
                        oldPass: oldpassword,
                        newPass: newpassword
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.status === true) {
                            Swal.fire({
                                title: 'Reset Password',
                                text: 'Password changed successfully.',
                                icon: 'success',
                                timer: 5000
                            }).then(() => {
                                window.location.href = '/logout'

                            })

                        } else if (response.status === false) {
                            Swal.fire({
                                title: 'Error',
                                text: 'Old Password is not correct.',
                                icon: 'error',
                                timer: 5000
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'An unexpected error occurred.',
                                icon: 'error',
                                timer: 5000
                            });
                        }
                    }
                });
            }
        }



    </script>